@using TestDemo.Utils
@model IEnumerable<TestDemo.Models.Product>

@{
    ViewBag.Title = "Product List";
}

@if (!User.IsInRole(AppStrings.AppRoleNames.Customer))
{
    @Html.ActionLink("Add Product", "Add", "Products", null, new {@class = "btn btn-info mb-3"})
}

@if (!Model.Any())
{
    <div class="alert alert-danger" role="alert">
        Unfortunately, the database of products is empty at the moment.
    </div>
}
else
{
    <div class="table-responsive">
        <table id="products" class="table table-sm table-dark table-hover ">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Name</th>
                <th scope="col">Product Code</th>
                <th scope="col">Price</th>

                @if (!User.IsInRole(AppStrings.AppRoleNames.Customer))
                {
                    <th scope="col"></th>
                    <th scope="col"></th>
                }
            </tr>
            </thead>
            <tbody>

            @for (var i = 0; i < Model.Count(); i++)
            {
                var row = i + 1;

                <tr>
                    <th scope="row">@row</th>
                    <td>@Model.ElementAt(i).Manufacturer.Name</td>
                    <td>@Model.ElementAt(i).Name</td>
                    <td>@Model.ElementAt(i).ProductCode</td>
                    <td>@Model.ElementAt(i).Price.ToString("N") tenge</td>

                    @if (!User.IsInRole(AppStrings.AppRoleNames.Customer))
                    {
                        <td>@Html.ActionLink("Edit", "Edit", "Products", new {id = row}, new {@class = "btn btn-sm btn-outline-light"})</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Products", new {id = row}, new {@class = "btn btn-sm btn-danger"})</td>
                    }

                </tr>
            }
            </tbody>
        </table>
    </div>
}

@section scripts {

    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function() {
            $("#products").DataTable({
                pagingType: 'simple_numbers',
                info: false,
                language: {
                    paginate: {
                        previous: '<img src="/Icons/chevron-circle-left-solid.svg" height="16px"/>',
                        next: '<img src="/Icons/chevron-circle-right-solid.svg" height="16px"/>'
                    }
                }
            });
        });
    </script>
}